$primary-white-color: rgb(255, 255, 255);
$primary-black-color:  rgb(0, 0, 0);
$primary-text-color:rgb(107, 111, 122);
$primary-blue-color: rgb(79, 125, 240);
$secondary-yellow-color: rgb(254, 192, 42);
$secondary-text-color: rgb(44,44,44);